.accessBg {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    background-color: rgb(76, 132, 252);
}

.accessPanel {
    height: 100vh;
    max-width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1.66vh 0;
    color: rgb(9, 34, 52);
    background: linear-gradient(to top right, rgba(137, 130, 130, 0.666), rgb(255, 255, 255));
    border-radius: 25px;
    -webkit-box-shadow: -18px 16px 21px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: -18px 16px 21px -4px rgba(66, 68, 90, 1);
    box-shadow: -18px 16px 21px -4px rgba(66, 68, 90, 1);
}

#icon {
    max-width: min(10vw, 20vh);
    margin: 2vh 0;
}

.accessPanel h1 {
    font-size: 3vw;
    margin: 2.5vh;
}

.accessPanel form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accessPanel input {
    width: 45%;
    font-size: 1.75vw;
    border: 0;
    border-radius: min(3vw, 30px);
    padding: 15px;
    box-shadow: -1px 1px 3px 0px rgba(66, 68, 90, 1);
    margin: 1.66vh 0;
}

.submit-access {
    width: 45%;
    position: relative;
    padding: 12px 24px;
    margin: 5vh;
    background-color: rgb(4, 176, 250);
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 2.25vw;
    font-weight: bold;
    border: none;
    border-radius: 3vw;
    cursor: pointer;
    box-shadow: -1px 1px 3px 0px rgba(66, 68, 90, 1), 
        inset -4px 4px 4px 0px rgba(255, 255, 255, 0.2);
    transition: all 0.2s ease-in-out;
}

.submit-access:active {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 
                inset 0 2px 4px rgba(255, 255, 255, 0.3);
    transform: translateY(2px);
}

.submit-access:hover {
    text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
}

#resetLink {
    font-size: 2vw;
    margin: 3vh 0;
}

#resetLink a {
    color: rgb(9, 34, 52);
    transition: all 0.2s ease-in-out;
}

#resetLink a:hover {
    text-shadow: 1px 1px 7px rgb(94, 93, 93, 0.5);
}

.switch {
    position: absolute;
    top: 0;
    right: 0;
}

.switch img {
    max-width: 8vw;
    transition: all 0.2s ease-in-out;
}

.switch img:hover {
    max-width: 8.5vw;
}