html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
}

.top-bar {
    display: flex;
    align-items: center;
    padding: 15px;
    background: rgb(192, 192, 192);
    color: white;
    font-weight: 700;
    font-size: 1.1em;
}

.main-nav {
    display: flex;
    gap: 1.5vw;
    font-size: 1.13em;
}

.main-nav a {
    padding: 10px 5px;
    transition: all 0.3s ease-in-out;
}

.main-nav a:hover {
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.25);
    transform: translateY(2px);
}

.controls {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
    margin-right: 15px;
}

.user-nav {
    display: flex;
    gap: 20px;
}

.top-bar a {
    color: rgb(38, 38, 38);
}

.link-icon {
    display: inline-flex;
    align-items: center;
}

.link-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: rgb(28, 187, 255);
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    border: none;
    box-shadow: -1px 1px 3px 0px rgba(66, 68, 90, 1), 
                inset -4px 4px 4px 0px rgba(255, 255, 255, 0.2);
    transition: all 0.2s ease-in-out;
}

.link-btn:hover {
    background-color: rgb(0, 179, 255);
}

.link-btn:active {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 
                inset 0 2px 4px rgba(255, 255, 255, 0.3);
    transform: translateY(2px);
}

.link-btn i {
    margin-left: 6px;
}

.logout-btn i {
    margin-left: 6px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.logout-btn:hover i {
    opacity: 0;
    transform: scale(0.8);
}

.link-icon {
    transition: color 0.3s ease-in-out;
}

.link-icon:hover {
    color: rgb(0, 0, 0);
}

.dark-mode-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 40px;
    height: 42px;
    padding: 0 10px;
    border: none;
    background: transparent;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
    position: relative;
}

.dark-mode-toggle i {
    transition: transform 0.3s ease;
    display: inline-block;
    z-index: 1;
    pointer-events: none;
}

.dark-mode-toggle:hover {
    background-color: rgb(28, 187, 255);
    box-shadow: -1px 1px 3px 0px rgba(66, 68, 90, 1), 
        inset -4px 4px 4px 0px rgba(255, 255, 255, 0.2);
    width: auto;
    padding: 0 16px;
}

.dark-mode-toggle:active {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 
                inset 0 2px 4px rgba(255, 255, 255, 0.3);
    transform: translateY(2px);
}

.dark-mode-toggle:hover i {
    transform: rotate(230deg);
}

.dark-mode-toggle::after {
    content: " Tryb ciemny";
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    z-index: 0;
}

.dark-mode-toggle:hover::after {
    opacity: 1;
    padding-left: 8px;
}

.search-box {
    display: inline-block;
    padding: 10px 15px;
    width: 200px;
    background-color: rgb(220, 220, 220);
    color: #333;
    border-radius: 20px;
    border: 2px solid transparent;
    outline: none;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.5), 
                0 0 5px rgba(128, 128, 128, 0.3);
}

.search-box:hover {
    background-color: rgb(230, 230, 230);
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.7), 
                0 0 6px rgba(128, 128, 128, 0.5);
}

.search-box:focus {
    background-color: white;
    border: 2px solid rgb(160, 160, 160);
    box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.8), 
                0 0 7px rgba(128, 128, 128, 0.6);
}

.controls-menu, .controls-user-menu {
    position: absolute;
    top: 67px;
    right: 15px;
    background-color: rgb(192, 192, 192);
    padding: 10px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.controls-user-menu {
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 100vw;
    top: 57px;
    left: 0;
    right: unset;
    padding: 0 15px;
}

.controls-menu > * {
    width: 100%;
    margin-bottom: 10px;
}

.controls-menu.show, .controls-user-menu.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.controls-toggle {
    display: none;
}

.controls-toggle i {
    color: rgb(38, 38, 38);
    transition: all 0.3s ease-in-out;
}

.controls-toggle:hover i {
    color: black;
}

.controls-user-menu > * {
    width: 100%;
    margin-bottom: 10px;
}

.controls-user-menu > .link-btn {
    justify-content: center;
}

@media screen and (max-width: 1150px) {
    .top-bar {
        justify-content: space-between;
        padding: 10px;
        font-size: 1em;
    }

    .controls {
        display: none;
    }

    .controls-toggle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background: transparent;
        color: white;
        font-size: 24px;
        cursor: pointer;
        border: none;
        margin-left: auto;
        margin-right: 15px;
    }
}

@media screen and (max-width: 670px) {
    .top-bar {
        padding: 5px;
        font-size: 1em;
    }
    .user-nav {
        display: none;
    }
}