.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.circular-link {
    display: inline-block;
    clip-path: circle(50% at 55% 40%);
}

.password-hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.password-visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}